@inject NavigationManager navigationManager
<div>
    <div @onclick="GoToProductPage">
        <img src="@Product.ImageUrl" style="width: 100px; height: 100px;" />
        <b>@Product.Name</b>
        <p>@Product.PriceInUsd $</p>
    </div>
    <button @onclick="AddToCart">Add to cart</button>
</div>

@code {
    [Parameter]
    public Product? Product { get; set; }
    [Parameter]
    public EventCallback OnAddToCart { get; set; }
    public async Task AddToCart() {
        await OnAddToCart.InvokeAsync();
    }
    public void GoToProductPage() {
        navigationManager.NavigateTo($"/products/{Product.Id}");
    }
}