@page "/"
@inject Data data
@inject CartClass cartClass
@inject ILocalStorageService localStorage
@using labbG.Components
<PageTitle>Home</PageTitle>

<h1>Buy!</h1>
<div id="grid">
    @foreach(var p in data.products) {
        <ProductComponent Product="p" OnAddToCart="async () => AddToCart(p)" />

    }
</div>

@code {
    public async Task AddToCart(Product product) {
        cartClass.ProductsInCart.Add(new Product(product.Id, product.Name, product.Description, product.ImageUrl, product.PriceInUsd));
        await localStorage.SetItemAsync<List<Product>>("Cart", cartClass.ProductsInCart);
    }
}
